.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.badge {
  background-image: url('./ercx-badge-score-red.png'); /* Adjust the path as needed */
  color: white; /* White text color */
  width: 250px; /* Exact width of the badge */
  height: 100px; /* Exact height of the badge */
  display: flex;
  position: relative; /* Set the badge's positioning context */
  font-weight: bold;
  font-size: 24px; /* Adjust the font size as necessary */
  text-align: center;
  background-size: 100% 100%; /* Stretch the background image to cover the badge dimensions */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the background image */
}

.badge-text {
  position: absolute; /* Position the text absolutely within the badge */
  left: 86px; /* 80px from the left of the badge */
  top: 46px; /* 50px from the top of the badge */
}


